<!DOCTYPE html>
<html>
<body>
    <head>
    <title>Stupid Community</title>
    <link rel='stylesheet'
        href='/css/bootstrap.css'>
    </head>
    
    <div class='container'><h1>Stupid Comunity Welcome</h1><br>
    <form>
    <div class='btn-group'>
        <button class='btn btn-primary' formaction="/login">Register</button><br>
        <button class='btn btn-secondary' onclick="alert('Booooom!!!')">Kill your self</button><br>
        <button class='btn btn-primary' formaction="http://www.insidermonkey.com/blog/7-easiest-painless-ways-of-killing-yourselves-quickest-360388/">How to die</button>
    
<script>

</script>

</body>


</html>